<div class="alert alert-success" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Login successful!</strong> Click <a class="alert-link" href="home.html">here</a> to go to your home page.
</div>