<h4> <%= list %>: </h4>
<table class = "table table-striped table-condensed">
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email Address</th>
	</tr>
	<!-- iterate through obj  -->
	<% if (obj.length) { %>
		<% for (var i = 0; i < obj.length; i++) { %>
		<tr>
			<td> <%= obj[i].firstname %> </td>
			<td> <%= obj[i].lastname %> </td>
			<td> <%= obj[i].email %> </td>
		</tr>
		<% } %>
	<% } %>
</table>